<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title th:text="${title}"></title>
</head>
<body>
	<h1>Demo List</h1>
	<div>
		<a href="sort"><p>sort js date</p></a>
	</div>
	<div>
		<a href="uuid"><p>uuid generate</p></a>
	</div>
	<div>
		<a href="progress"><p>progress with promise</p></a>
	</div>
	<div>
		<a href="pdf"><p>pdf to html </p></a>
	</div>
	<div>
		<a href="../standalone2/index.html"><p>static html for particle effect</p></a>
	</div>
</body>
</html>
