<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title th:text="${title}"></title>
	<script type="text/javascript" src="../../libs/threejs/three.js"></script>
	<script type="text/javascript" src="../../libs/threejs/OrbitControls.js"></script>
	<script type="text/javascript" src="../../libs/threejs/STLExporter.js"></script>
	<script type="text/javascript" src="../../libs/threejs/DRACOLoader.js"></script>
	<script type="text/javascript" src="../../libs/vue-2.6.11/vue.min.js"></script>
	<script type="text/javascript" src="../../js/webgl/util.js"></script>
	<style type="text/css">
		#container {
			width:	100%;
			height: 100%;
		}
		.info {
			top: 10px;
			left: 40%;
			position: absolute;
			z-index: 50;
		}
	</style>	
</head>
<body>
	<div id="container"></div>
	<div class="info">
		<button onclick="exportStl();">export stl file</button>
	</div>
	<script>
		var camera, scene, renderer;
		var exporter = new THREE.STLExporter();
		var container = document.querySelector( '#container' );
	
		// Configure and create Draco decoder.
		THREE.DRACOLoader.setDecoderPath( '../../libs/threejs/draco/' );
		THREE.DRACOLoader.setDecoderConfig( { type: 'js' } );
		var dracoLoader = new THREE.DRACOLoader();
		init();
		animate();
	
		function init() {
	
			camera = new THREE.PerspectiveCamera( 45, window.innerWidth / window.innerHeight, 0.1, 15 );
			camera.position.set( 3, 0.25, -300 );
	
			scene = new THREE.Scene();
			scene.background = new THREE.Color( 0x443333 );
			scene.fog = new THREE.Fog( 0x443333, 1, 4 );
	
			// Ground
// 			var plane = new THREE.Mesh(
// 				new THREE.PlaneBufferGeometry( 8, 8 ),
// 				new THREE.MeshPhongMaterial( { color: 0x999999, specular: 0x101010 } )
// 			);
// 			plane.rotation.x = - Math.PI / 2;
// 			plane.position.y = 0.03;
// 			plane.receiveShadow = true;
// 			scene.add( plane );
	
			// Lights
			var light = new THREE.HemisphereLight( 0x443333, 0x111122 );
			scene.add( light );
	
// 			var light = new THREE.SpotLight();
// 			light.angle = Math.PI / 16;
// 			light.penumbra = 0.5;
// 			light.castShadow = true;
// 			light.position.set( - 1, 1, 1 );
// 			scene.add( light );
	
			let url = '../../models/lower.drc';
			dracoLoader.load( url, function ( geometry ) {
	
				console.log('url', geometry);
				geometry.computeVertexNormals();
	
				var material = new THREE.MeshStandardMaterial( { 
					//color: 0x606060
					color: 0xff0000
					} );
				var mesh = new THREE.Mesh( geometry, material );
				//mesh.castShadow = true;
				//mesh.receiveShadow = true;
				scene.add( mesh );
	
				// Release decoder resources.
				
				THREE.DRACOLoader.releaseDecoderModule();
	
			} );
	
			
			// renderer
			renderer = new THREE.WebGLRenderer( { antialias: true } );
			renderer.setPixelRatio( window.devicePixelRatio );
			renderer.setSize( window.innerWidth, window.innerHeight );
			renderer.gammaInput = true;
			renderer.gammaOutput = true;
			renderer.shadowMap.enabled = true;
			container.appendChild( renderer.domElement );
			
			var controls = new THREE.OrbitControls( camera, renderer.domElement );
			//controls.target.set( 0, 25, 0 );
			controls.update();
			
			window.addEventListener( 'resize', onWindowResize, false );
	
		}
	
		function onWindowResize() {
	
			camera.aspect = window.innerWidth / window.innerHeight;
			camera.updateProjectionMatrix();
	
			renderer.setSize( window.innerWidth, window.innerHeight );
	
		}
	
		function exportStl() {
			let mesh = scene.children[1];
			mesh.name = "test.stl";
			console.log('export stl',mesh);
			mj.mesh2file(mesh, {binary: true});
    	}
		
		function animate() {
	
			render();
			requestAnimationFrame( animate );
	
		}
	
		function render() {
	
			var timer = Date.now() * 0.0003;
	
// 			camera.position.x = Math.sin( timer ) * 0.5;
// 			camera.position.z = Math.cos( timer ) * 0.5;
// 			camera.lookAt( 0, 0.1, 0 );
	
			renderer.render( scene, camera );
	
		}
	</script>
</body>
</html>
