*.swp
*.o
a.out
.classpath
.project
.settings
!.mvn/wrapper/maven-wrapper.jar

.metadata/
.recommenders/

image/target/
itext/target/
springbootdemo/logs/
springbootdemo/target/
springbootdemo/applog/
