<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title th:text="${title}"></title>
</head>
<body>
	<p th:text="'Hello, ' + ${name} + '!'" />
	<div>
		<a href="./html/dracoDecode.html"><p>three.js draco decode demo</p></a>	
	</div>
	<div>
		<a href="./html/dracoEncode.html"><p>three.js draco encode demo</p></a>	
	</div>
	<div>
		<a href="./html/ccaptureJS.html"><p>ccapture-js test for animation</p></a>	
	</div>
	<div>
		<a href="./html/viewport.html"><p>viewport for much camera to render</p></a>	
	</div>
	<div>
		<a href="./html/cameraHelper.html"><p>helper for camera</p></a>	
	</div>	
	<div>
		<a href="./html/cameraSplit.html"><p>split scene to four camera, one perspective, and three orthographic</p></a>	
	</div>	
	<div>
		<a href="./html/cameraSplitCss.html"><p>split scene to different scissors, css</p></a>	
	</div>	
	<div>
		<a href="./html/cameraSplitConst.html"><p>split scene to different scissors, const value</p></a>	
	</div>	
	<div>
		<a href="./html/grid-2d.html"><p>2d grid</p></a>	
	</div>	
	<div>
		<a href="./html/grid.html"><p>2d grid using shader</p></a>	
	</div>	
	<div>
		<a href="./html/grid-tile.html"><p>2d grid tile</p></a>	
	</div>	
	<div>
		<a href="./html/grid-line.html"><p>2d grid line</p></a>	
	</div>	
	<div>
		<a href="./html/grid-lod.html"><p>2d grid lod</p></a>	
	</div>	
	<div>
		<a href="./html/lod.html"><p>lod mesh</p></a>	
	</div>	
	<div>
		<a href="./html/gum.html"><p>gum mesh with phong</p></a>	
	</div>	
	<div>
		<a href="./html/phong.html"><p>phong with height map, ply format, glft format</p></a>	
	</div>	
	<div>
		<a href="./html/phong2.html"><p>phong with height map, obj format</p></a>	
	</div>	
	<div>
		<a href="./html/bumpmap.html"><p>bumpmap</p></a>	
	</div>	
	<div>
		<a href="./html/babylonEx1.html"><p>babylonJS library for webgl demo</p></a>	
	</div>
</body>
</html>
