<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title th:text="${title}"></title>
</head>
<body>
	<p th:text="'Hello, ' + ${name} + '!'" />
	<div>
		<a href="./html/dracoDecode.html"><p>three.js draco decode demo</p></a>	
	</div>
	<div>
		<a href="./html/dracoEncode.html"><p>three.js draco encode demo</p></a>	
	</div>
	<div>
		<a href="./html/ccaptureJS.html"><p>ccapture-js test for animation</p></a>	
	</div>
</body>
</html>
