<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title th:text="${title}"></title>
</head>
<body>
	<header></header>
	<section></section>
	<main>
		<section>				
			<p th:text="'Hello, ' + ${name} + '!'" />
			<div>
				<a href="demo/"><p>demo</p></a>
			</div>
			<div>
				<a href="view/"><p>view</p></a>
			</div>
			<div>
				<a href="/webgl/index.html"><p>webgl</p></a>
			</div>
		</section>
	</main>
	<footer>
	</footer>
</body>
</html>
